{% extends 'main/base.html' %}

{% block title %}Поиск погоды{% endblock %}

{% block content %}
<div class="home-container">
    <h1>🌤️ Поиск погоды</h1>

    <div class="search-section">
        <form method="post" class="search-form">
            {% csrf_token %}
            <div class="search-wrapper">
                <input type="text" name="query" class="search-input"
                    placeholder="Введите название города или локации..." value="{{ query|default:'' }}"
                    autocomplete="off" required>
                <button type="submit" class="search-btn">🔍 Поиск</button>
            </div>
        </form>
    </div>

    {% if query %}
    <div class="search-results">
        <h2>Результаты поиска: "{{ query }}"</h2>

        <div class="weather-info">
            <div class="weather-card">
                <div class="weather-header">
                    <h3>{{ weather.location.name_ru }}</h3>
                    <h3>{{ weather.location.name_en }}</h3>
                    <h3>{{ weather.location.state }}</h3>
                </div>
                <div class="temperature">
                    <span class="temp-value">{{ weather.temperature|floatformat:1 }}</span>
                    <span class="temp-unit">°C</span>
                </div>
                <div class="description">
                    <span>{{ weather.description }}</span>
                </div>
            </div>

            <div class="detail-item">
                <span class="detail-label">💨 Ветер:</span>
                <span class="detail-value">{{ weather.wind_speed|floatformat:1 }} м/с</span>
            </div>
        </div>
    </div>
    {% endif %}


    {% if error_message %}
    <p> {{ error_message}}</p>
    {% endif %}
</div>
{% endblock %}